.wr-Features-techStackButton {
  position: relative;
  height: auto;
  padding: var(--base-size-16) var(--base-size-8) var(--base-size-16) var(--base-size-8);
  text-align: center;
  border-radius: 0.625rem;
  border: 2px solid var(--brand-color-border-default);
}