@font-face {
  font-family: 'VT323';
  src: url(../assets/fonts/VT323-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'Pixelify Sans';
  src: url(../assets/fonts/PixelifySans-VariableFont_wght.ttf);
  font-display: swap;
  font-weight: 400 700;
}