.Template__SubNav {
  background-color: transparent;
}

.ContentfulBackgroundImage-module__imageContainer {
  bottom: 0;
  height: 100%;
  left: 0;
  margin-left: calc(50% - 50vw);
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
}

.ContentfulBackgroundImage-module__imageContainer img,
.ContentfulBackgroundImage-module__imageContainer picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.ContentfulBackgroundImage-module__imageContainer img {
  object-position: left;
}

@media screen and (min-width: 34rem) {
  .ContentfulHero-module__contentfulHeroContainer {
    padding-bottom: var(--base-size-128);
  }
}

.ContentfulHero-module__contentfulHeroContainer {
  padding-bottom: var(--base-size-96);
}