@import url(./fonts.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-shadow: rgb(30, 41, 59);
  }

  .dark {
    --color-text-shadow: rgb(226, 232, 240);
  }


}

@layer utilities {
  .bg-home {
    background-image: url('../assets/pattern-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .dark {
    .bg-home {
      background-image: url('../assets/pattern-bg-dark.svg');
    }
  }

  .Badge--version {
    @apply relative flex items-center;
  }

  .Badge--version::before {
    content: '';
    @apply w-[2px] h-[2px];
    @apply absolute;
    @apply bg-sky-400;
    @apply top-[2px];
    @apply left-[2px];
  }

  .Badge--version::after {
    content: '';
    @apply w-[2px] h-[2px];
    @apply absolute;
    @apply bg-sky-400;
    @apply top-[2px];
    @apply right-[2px];
  }

  .Badge--version-label {
    @apply px-2 font-bold text-sky-400 dark:text-sky-400 bg-sky-400/10;
    @apply border-2 border-sky-400;
    clip-path: polygon(
        /* top left */
        0 4px, 4px 4px, 4px 0,
        /* top right */
        calc(100% - 4px) 0, calc(100% - 4px) 4px, 100% 4px,
        /* bottom right */
        100% calc(100% - 4px), calc(100% - 4px) calc(100% - 4px), calc(100% - 4px) 100%,
        /* bottom left */
        4px 100%, 4px calc(100% - 4px), 0 calc(100% - 4px));

  }

  .dot-bottom-right-1 {
    content: '';
    width: 2px;
    height: 2px;
    position: absolute;
    @apply bg-sky-400;
    bottom: 2px;
    right: 2px;
  }

  .dot-bottom-left-1 {
    content: '';
    width: 2px;
    height: 2px;
    position: absolute;
    @apply bg-sky-400;
    bottom: 2px;
    left: 2px;
  }

  .dot-bottom-right-2 {
    content: '';
    width: 2px;
    height: 2px;
    position: absolute;
    @apply bg-sky-400;
    bottom: 2px;
    right: 2px;
  }

  .dot-bottom-left-2 {
    content: '';
    width: 2px;
    height: 2px;
    position: absolute;
    @apply bg-sky-400;
    bottom: 2px;
    left: 2px;
  }

  .Text-shadow--extralarge {
    text-shadow:
      -0.222rem -0.222rem 0 var(--color-text-shadow),
      0.222rem -0.222rem 0 var(--color-text-shadow),
      -0.222rem 0.222rem 0 var(--color-text-shadow),
      0.222rem 0.222rem 0 var(--color-text-shadow),
      -0.111rem -0.222rem 0 var(--color-text-shadow),
      0.111rem -0.222rem 0 var(--color-text-shadow),
      -0.111rem 0.222rem 0 var(--color-text-shadow),
      0.111rem 0.222rem 0 var(--color-text-shadow),
      -0.222rem -0.111rem 0 var(--color-text-shadow),
      0.222rem -0.111rem 0 var(--color-text-shadow),
      -0.222rem 0.111rem 0 var(--color-text-shadow),
      0.222rem 0.111rem 0 var(--color-text-shadow),
      0.111rem 0.444rem 0 var(--color-text-shadow),
      0.222rem 0.444rem 0 var(--color-text-shadow),
      0.333rem 0.444rem 0 var(--color-text-shadow),
      0.444rem 0.444rem 0 var(--color-text-shadow),
      0.444rem 0.333rem 0 var(--color-text-shadow),
      0.444rem 0.222rem 0 var(--color-text-shadow),
      0.444rem 0.111rem 0 var(--color-text-shadow)
  }

  .Text-shadow--large {
    text-shadow:
      -0.111rem -0.111rem 0 var(--color-text-shadow),
      0.111rem -0.111rem 0 var(--color-text-shadow),
      -0.111rem 0.111rem 0 var(--color-text-shadow),
      0.111rem 0.111rem 0 var(--color-text-shadow),
      -0.055rem -0.111rem 0 var(--color-text-shadow),
      0.055rem -0.111rem 0 var(--color-text-shadow),
      -0.055rem 0.111rem 0 var(--color-text-shadow),
      0.055rem 0.111rem 0 var(--color-text-shadow),
      -0.111rem -0.055rem 0 var(--color-text-shadow),
      0.111rem -0.055rem 0 var(--color-text-shadow),
      -0.111rem 0.055rem 0 var(--color-text-shadow),
      0.111rem 0.055rem 0 var(--color-text-shadow),
      0.055rem 0.222rem 0 var(--color-text-shadow),
      0.111rem 0.222rem 0 var(--color-text-shadow),
      0.166rem 0.222rem 0 var(--color-text-shadow),
      0.222rem 0.222rem 0 var(--color-text-shadow),
      0.222rem 0.166rem 0 var(--color-text-shadow),
      0.222rem 0.111rem 0 var(--color-text-shadow),
      0.222rem 0.055rem 0 var(--color-text-shadow)
  }

  .Text-shadow--base {
    text-shadow:
      -0.055rem -0.055rem 0 var(--color-text-shadow),
      0.055rem -0.055rem 0 var(--color-text-shadow),
      -0.055rem 0.055rem 0 var(--color-text-shadow),
      0.055rem 0.055rem 0 var(--color-text-shadow),
      -0.042rem -0.055rem 0 var(--color-text-shadow),
      0.042rem -0.055rem 0 var(--color-text-shadow),
      -0.042rem 0.055rem 0 var(--color-text-shadow),
      0.042rem 0.055rem 0 var(--color-text-shadow),
      -0.055rem -0.042rem 0 var(--color-text-shadow),
      0.055rem -0.042rem 0 var(--color-text-shadow),
      -0.055rem 0.042rem 0 var(--color-text-shadow),
      0.055rem 0.042rem 0 var(--color-text-shadow),
      0.042rem 0.166rem 0 var(--color-text-shadow),
      0.055rem 0.166rem 0 var(--color-text-shadow),
      0.083rem 0.166rem 0 var(--color-text-shadow),
      0.166rem 0.166rem 0 var(--color-text-shadow),
      0.166rem 0.083rem 0 var(--color-text-shadow),
      0.166rem 0.055rem 0 var(--color-text-shadow),
      0.166rem 0.042rem 0 var(--color-text-shadow)
  }
}