.NavMobile {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: var(--base-size-8) var(--base-size-8)
}

@media (min-width: 768px) {
  .NavMobile {
      display:none
  }
}

.NavMobile button {
  color: inherit;
  cursor: pointer;
  background: none;
  border: 0
}

.NavMobile__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: -webkit-backdrop-filter .2s ease-out;
  transition: backdrop-filter .2s ease-out;
  transition: backdrop-filter .2s ease-out,-webkit-backdrop-filter .2s ease-out
}

.NavMobile--isOpen .NavMobile__backdrop {
  -webkit-backdrop-filter: blur(36px);
  backdrop-filter: blur(36px);
  pointer-events: auto
}

.NavMobile__container {
  position: relative;
  color: var(--brand-color-text-default);
  pointer-events: auto;
  background: #f9fafb;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: var(--brand-borderRadius-large);
  transition: height .4s ease-out
}

.NavMobile__preScrollContent {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 1fr;
  transition: opacity .2s,grid-template-rows .4s;
  transition-delay: .4s,0s
}

.NavMobile--hasScrolled .NavMobile__preScrollContent,
.NavMobile--isOpen .NavMobile__preScrollContent {
  position: relative;
  top: 0;
  grid-template-rows: 0fr;
  pointer-events: none;
  opacity: 0;
  transition-delay: 0s
}

.NavMobile__preScrollContent>div {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
  justify-content: center
}

.NavMobile__preScrollContent-logo {
  display: flex;
  height: 56px;
  align-items: center;
  justify-content: center
}

.NavMobile__preScrollContent-menu {
  display: flex;
  height: 53px;
  padding: 0 var(--base-size-16);
  white-space: nowrap;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: var(--base-size-32);
  border-top: 1px solid rgba(0,0,0,.1)
}

.NavMobile__preScrollContent-menu li[data-hidden=true] {
  display: none
}

.NavMobile__preScrollContent-menu a {
  text-decoration: none
}

.NavMobile__preScrollContent-menu button svg {
  margin-left: 6px
}

.NavMobile__postScrollContent {
  position: relative;
  top: 0;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 0fr;
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s,grid-template-rows .4s;
  transition-delay: 0s,0s
}

.NavMobile--hasScrolled .NavMobile__postScrollContent,
.NavMobile--isOpen .NavMobile__postScrollContent {
  position: relative;
  pointer-events: auto;
  grid-template-rows: 1fr;
  opacity: 1;
  transition-delay: .4s,0s
}

.NavMobile__postScrollContent>div {
  overflow: hidden
}

.NavMobile__postScrollContent-header {
  display: flex;
  width: 100%;
  padding: var(--base-size-12);
  padding-left: var(--base-size-16);
  align-items: center;
  justify-content: space-between
}

.NavMobile__postScrollContent-header a {
  --brand-color-text-default: #fff
}

.NavMobile__postScrollContent-headerLabel {
  display: flex;
  gap: var(--base-size-4);
  align-items: center
}

.NavMobile__postScrollContent-headerLabel>span:first-of-type {
  color: var(--brand-color-text-subtle)
}

.NavMobile__postScrollContent-headerLabel>span:nth-of-type(2) {
  display: flex;
  gap: var(--base-size-4)
}

.NavMobile__postScrollContent-headerLabel>svg {
  transition: transform .2s ease-out
}

.NavMobile--isOpen .NavMobile__postScrollContent-headerLabel>svg {
  transform: rotate(180deg)
}

.NavMobile__postScrollContent-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows .4s
}

.NavMobile--isOpen .NavMobile__postScrollContent-content {
  grid-template-rows: 1fr
}

.NavMobile__menuWrapper {
  overflow: hidden
}

.NavMobile__menu {
  display: grid;
  grid-gap: var(--base-size-32);
  gap: var(--base-size-32);
  padding: var(--base-size-32) var(--base-size-16) var(--base-size-48);
  border-top: 1px solid rgba(0,0,0,.1)
}

.NavMobile__menu ul {
  display: grid;
  grid-gap: var(--base-size-20);
  gap: var(--base-size-20);
  list-style: none
}

.NavMobile__menu-sectionLabel {
  padding: 0;
  margin-bottom: var(--base-size-20)
}

.NavMobile__menu-sectionLabel span {
  color: var(--brand-color-text-subtle)
}

.NavMobile__menu-item {
  position: relative;
  padding-left: var(--base-size-16)
}

.NavMobile__menu-item:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  content: "";
  background: currentColor;
  transition: transform .2s ease-out;
  transform: scaleY(0);
  transform-origin: top center
}

.NavMobile__menu-item[aria-current=true]:after {
  transform: scaleY(1)
}