.Tech-Stack--module__cards-column {
  min-width: 256px;
}

.Tech-Stack--module__card {
  transition: opacity .2s, transform .2s;
  transform: scale(1);
}

.Tech-Stack--module__card:hover {
  transform: scale(1.05);
}