.ButtonIcon {
  position: relative;
  display: flex;
  align-items: center;
}

.ButtonIcon::before {
  content: '';
  width: 2px;
  height: 2px;
  position: absolute;
  @apply bg-accentBg;
  top: 2px;
  left: 2px;
}

.ButtonIcon::after {
  content: '';
  width: 2px;
  height: 2px;
  position: absolute;
  @apply bg-accentBg;
  top: 2px;
  right: 2px;
}

.ButtonIcon-icon {
  @apply text-accentFg bg-accentBg/10;
  @apply p-1 text-xs font-bold;
  border: 2px solid;
  @apply border-accentBorder;
  clip-path: polygon(0 4px, 4px 4px, 4px 0,

      calc(100% - 4px) 0, calc(100% - 4px) 4px, 100% 4px,

      100% calc(100% - 4px), calc(100% - 4px) calc(100% - 4px), calc(100% - 4px) 100%,

      4px 100%, 4px calc(100% - 4px), 0 calc(100% - 4px));
}

.ButtonIcon:hover .ButtonIcon-icon {
  @apply bg-accentBg/20;
}